<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webappsquotes.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webappsquotes.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>webappsquotes</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$webappsquotes</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:e2gdi6zpbz.database.windows.net,1433;Initial Catalog=mymovieAkIqgZcD6;User ID=shahabhi95@e2gdi6zpbz;Password=S@ibaba1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="QuotationsApp.Models.ApplicationDbContext, QuotationsApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QuotationsApp.Models.QuotationsAppCSISDBContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:e2gdi6zpbz.database.windows.net,1433;Initial Catalog=mymovieAkIqgZcD6;User ID=shahabhi95@e2gdi6zpbz;Password=S@ibaba1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="QuotationsApp.Models.QuotationsAppCSISDBContext, QuotationsApp" MigrationConfiguration="QuotationsApp.Migrations.Configuration, QuotationsApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QuotationsAppDBContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:e2gdi6zpbz.database.windows.net,1433;Initial Catalog=mymovieAkIqgZcD6;User ID=shahabhi95@e2gdi6zpbz;Password=S@ibaba1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\QuotationsApp.Models.QuotationsAppCSISDBContext.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QuotationsAppDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\QuotationsApp.Models.QuotationsAppCSISDBContext.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:e2gdi6zpbz.database.windows.net,1433;Initial Catalog=mymovieAkIqgZcD6;User ID=shahabhi95@e2gdi6zpbz;Password=S@ibaba1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuotationsApp.Models.QuotationsAppCSISDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:e2gdi6zpbz.database.windows.net,1433;Initial Catalog=mymovieAkIqgZcD6;User ID=shahabhi95@e2gdi6zpbz;Password=S@ibaba1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuotationsAppDBContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:e2gdi6zpbz.database.windows.net,1433;Initial Catalog=mymovieAkIqgZcD6;User ID=shahabhi95@e2gdi6zpbz;Password=S@ibaba1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="QuotationsApp.Models.QuotationsAppCSISDBContext" />
  </ItemGroup>
</Project>